{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include "exam/navbar.html" %}
    <br><br><br><br><br>
<!-- <img src="{% static "image/logout_img.png" %}"  style="width:800px; height:100px; padding-left:400px;"> -->
<style>
h1,
h3 {
  text-align: center;
  padding-top: 100px;
}
</style>
<h3 class="text-center">Logged Out Successfully.</h3> <br>
<h1 align="center">Thank you for using <b> Pareeksha :) </b></h1>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br>
{% include "exam/footer.html" %}

  </body>
</html>
